@import '../../components/variables.css';

.root {
  display: inline-flex;
}
.imageStyle {
  height: 120px;
  width: 235px;
  margin: 5px;
}
.raterStyle {
  width: 100px;
}
.spanStyle {
  display: inline-flex;
}
.priceDiv {
  font-weight: 800;
  display: flex;
  margin-left: 5px;
}
.emiDiv {
  display: flex;
  margin-left: 5px;
}
li {
  text-align: left;
}
.checkboxStyle {
  width: 20px !important;
}
.addToCompareStyle {
  display: inline-flex;
}
